<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>

    <th>Projects</th>
  </tr>

  </thead>
  <tbody>
<tr>

  <% if @user.role == 'Developer' %>

    <%p = Project.where(assign_developer: @user)  %>
  <% else  %>
    <% p = Project.where(assign_qa: @user) %>
  <% end %>
  <% if Project.find_by_assign_developer(@user.id) || Project.find_by_assign_qa(@user.id) %>
      <tr>

    <%p.each do|i| %>
        <td><span class="sp"><%=p(i).title  %></span></td>


      </tr>
<%end %>
<%end %>


  </tbody>

</table>